libs/
docs/

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
._*.*

.svn/
obj/
Prototypes/*/bin/*
build/
!Prototypes/*/bin/data/
!Prototypes/*/bin/data/*
!Prototypes/*/bin/data/**/*
xcuserdata/

ipch/
*.suo
*.opensdf
*.opendb
*.vcxproj.user

*.obj
*.tlog
*.sdf
*.pdb
*.idb
*.pch
Debug/
Release/


*~.xml

*.qbs.user
