#########################
# general
#########################

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/
*.log
*.cpp.eep
*.cpp.elf
*.cpp.hex
*.lib

#########################
# IDE
#########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata

# Code::Blocks
*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
._*.*

.svn/
obj/
build/

# Visual Studio
*.sdf
*.opensdf
*.opendb
*.suo
*.exp
*.pdb
*.iobj
*.ipdb
*.ilk
*.aps
*.opendb
*.db
ipch/
*.vcxproj.user


# Qt Creator
*.qbs.user

# Eclipse
.metadata
local.properties
.externalToolBuilders

#########################
# operating system
#########################

# Linux
*~
*~.xml
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# Android
.csettings
/libs/openFrameworksCompiled/project/android/paths.make

#########################
# miscellaneous
#########################

.mailmap

#########################
# Entropy
#########################

# Default preset
_default
_autosave
# Project data folders (everything should be in Shared/data or Shared/assets)
*/*/bin/*
!*/*/bin/data/
*/*/bin/data/*
!*/*/bin/data/shaders/
!*/*/bin/data/*.xml
!*/*/bin/data/*.json

# Assets (managed by Syncthing)
Resources/assets/*
!Resources/assets/.gitkeep
!Resources/assets/.stfolder

# Exports (not managed)
Resources/exports/
!Resources/exports/.gitkeep

# ImGui garbage
imgui.ini

# ofxTimeline garbage
Resources/data/entropy/scene/*/*.xml
